/*
|--------------------------------------------------------------------------
| CONTAINER PRINCIPAL
|--------------------------------------------------------------------------
*/
.container {
  padding: 2rem;
}


/*
|--------------------------------------------------------------------------
| TITRE
|--------------------------------------------------------------------------
*/
.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}


/*
|--------------------------------------------------------------------------
| TEXTE
|--------------------------------------------------------------------------
*/
.text {
  margin-bottom: 1rem;
}


/*
|--------------------------------------------------------------------------
| BOUTONS MONTANTS
|--------------------------------------------------------------------------
*/
.amounts {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}


/*
|--------------------------------------------------------------------------
| INPUT MONTANT LIBRE
|--------------------------------------------------------------------------
*/
.input {
  padding: 0.5rem;
  margin-right: 1rem;
  width: 120px;
}


/*
|--------------------------------------------------------------------------
| BOUTON DON
|--------------------------------------------------------------------------
*/
.button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}


/*
|--------------------------------------------------------------------------
| MESSAGE ERREUR
|--------------------------------------------------------------------------
*/
.error {
  color: rgb(140, 209, 144);
  margin-top: 1rem;
}