/*
|--------------------------------------------------------------------------
| CONTAINER PRINCIPAL
|--------------------------------------------------------------------------
*/
.container {
  padding: 11rem 2rem 4rem;
}


/*
|--------------------------------------------------------------------------
| TITRE
|--------------------------------------------------------------------------
*/
.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}


/*
|--------------------------------------------------------------------------
| TEXTE
|--------------------------------------------------------------------------
*/
.text {
  margin-bottom: 1rem;
}


/*
|--------------------------------------------------------------------------
| BOUTONS MONTANTS
|--------------------------------------------------------------------------
*/
.amounts {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/*
|--------------------------------------------------------------------------
| BOUTONS RAPIDES
|--------------------------------------------------------------------------
*/
.amounts button {

  padding: 0.5rem 1rem;

  border: 1px solid #538135;

  background-color: white;

  cursor: pointer;

  transition: 0.3s;
}



/*
|--------------------------------------------------------------------------
| SURVOL BOUTONS RAPIDES
|--------------------------------------------------------------------------
*/
.amounts button:hover {

  background-color: #538135;

  color: white;
}


/*
|--------------------------------------------------------------------------
| INPUT MONTANT LIBRE
|--------------------------------------------------------------------------
*/
.input {
  padding: 0.5rem;
  margin-right: 1rem;
  width: 120px;
}


/*
|--------------------------------------------------------------------------
| BOUTON DON
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| BOUTON DON
|--------------------------------------------------------------------------
*/
.button {

  padding: 0.5rem 1rem;

  cursor: pointer;

  background-color: #538135;

  color: white;

  border: none;

  transition: 0.3s;
}



/*
|--------------------------------------------------------------------------
| SURVOL BOUTON DON
|--------------------------------------------------------------------------
*/
.button:hover {

  background-color: #3F6F3A;
}

/*
|--------------------------------------------------------------------------
| MESSAGE ERREUR
|--------------------------------------------------------------------------
*/
.error {
  color: red;
  margin-top: 1rem;
}